<div
  width="100%"
  style="margin: 0; padding: 20px !important; background-color: #f1f1f1;"
>
<div style="
max-width: 600px;
margin: 30px auto;
padding: 0 10px;
font-size: 13px;
line-height: 1.5;
font-family: 'Montserrat', sans-serif;">
<div 
  style="
    background-color: white;
    color: #3F4254;
    padding: 40px 30px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 30px;
">
  <div class="header">
    <img 
      src="https://res.cloudinary.com/deeucfdkq/image/upload/v1597283709/logo/com_logo_color.png" 
      alt="dingtoi"
      style="
        width: 200px;
        display: block; 
        margin: 0 auto 30px;"/>
  </div>
  <div class="body" >
    <h1 class="title"
      style="
        margin-bottom: 30px;
        color: black;
        font-size: 2em;
        line-height: 1.2;
        font-weight: normal;
        text-align: center;">
        Verify your email address
    </h1>
    <p class="desc"
      style="
        margin-bottom: 30px;
        text-align: center;
        font-size: 1.2em;
      ">
      Please confirm your email address to create your Dingtoi account. Once verified, you can shopping on the Dingtoi Marketplace!
    </p>
    <a 
      href="<%= api %>"
      style="
        display: block;
        border: none;
        text-decoration: none;
        background-color: #2F3A97;
        color: white;
        font-family: inherit;
        font-size: 0.8rem;
        font-weight: normal;
        letter-spacing: 2px;
        border-radius: 50px;
        text-transform: uppercase;
        width: 100%;
        max-width: 250px;
        height: 50px;
        line-height: 50px;
						text-align: center;
        cursor: pointer;
        margin: 0 auto 30px;">
      Verify my email
    </a>
    <div style="
      display: block;
      text-align: center;
      color: gray;">
      Or paste this link into your browser:
    </div>
    <a href="<%= api %>"
      style="
        display: block;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        color: #2F3A97;">
      <%= api %>
    </a>
    <div style="
      display:flex; 
      justify-content: space-between;
      width: 150px;
      margin: 30px auto 0;
      ">
      <a href="https://www.facebook.com/dingtoicorp/">
        <img src="https://res.cloudinary.com/deeucfdkq/image/upload/v1608023821/icon/facebook.svg" alt="facebook"/>
      </a>
      <a href="https://www.instagram.com/accounts/login/?next=/dingtoicorp/">
        <img src="https://res.cloudinary.com/deeucfdkq/image/upload/v1608025593/icon/instagram.svg" alt="instagram">
      </a>
      <a href="https://twitter.com/dingtoicorp">
        <img src="https://res.cloudinary.com/deeucfdkq/image/upload/v1608023822/icon/twitter.svg" alt="twitter"/>
      </a>
      <a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQEjAqW43QZfjQAAAXZlzKxoOYHjr5GpbAwpIW0KIFxCTqBapKjG-eUNJqrUDldhEiXNcYf6hFMOGUawyNpUe6TYCsfimxm9l2V_v5M8Y9HNjuWflr0Gofl1kLZr22uU0eJqgLg=&originalReferer=http://localhost:3000/&sessionRedirect=https%3A%2F%2Fca.linkedin.com%2Fin%2Fdingtoi-corporation-2517671b3">
        <img src="https://res.cloudinary.com/deeucfdkq/image/upload/v1608025593/icon/linkedin.svg" alt="linkedin"/>
      </a>
    </div>
  </div>
</div>
<div
  style="
    text-align: center;
    color: #555;
">
  <p style="margin-bottom: 10px;">
    ™ 2020 Dingtoi. All rights reserved.
    <br/>
    Dingtoi, Brivibas iela 33, Riga, Latvia, LV-1010
  </p>
  <div>
    <img 
      style="width: 50px;" 
      src="https://res.cloudinary.com/deeucfdkq/image/upload/v1597283695/logo/com_logo_short.jpg" 
      alt="dingtoi">
  </div>
</div>
</div>
 
</div>
