NODE_ENV=development
NODE_PORT=20004
DOMAIN_DRIVEN=/api/v1/proposal
DB_HOST=159.203.17.76
DB_USER=tomrot
DB_PASS=vnng2018
DB_DATABASE=swapez
DB_PORT=5433
EMAIL_EMAIL=buivuongdhmo@gmail.com
EMAIL_PASS=Zaq1@wsxcde3
SOCKET=http://128.199.186.198:30002
REDIS_HOST=159.89.123.160
REDIS_PORT=6379
REDIS_PASSWORD=vnng@2018