div(style="\
color: #493b41;\
font-family: 'Work Sans', 'Helvetica Neue', 'Helvetica,Arial',\
'Lucida Grande', 'sans-serif';\
font-size: 15px;\
font-style: normal;\
font-weight: 400;\
line-height: 1.5;\
background-color: #e5e5e5;\
box-sizing: border-box;\
margin: 0;\
padding: 0;\
")
  div(style='max-width: 600px; margin: 0 auto;')
    div(style='text-align: center; padding: 20px 0;')
      img(src='https://res.cloudinary.com/deeucfdkq/image/upload/v1597283709/logo/com_logo_color.png' alt='dingtoi' style='width: 200px;')
    div(style='background-color: #ffffff; padding: 20px; border-radius: 5px; display: block;')
      h1(style='padding-bottom: 20px; text-align: center; font-weight: normal;')
        | Forgot Password
      p
        | Seems like you forgot password for Dingtoi Inc. If this is true, use
        | this password to login Dingtoi Pro.
      p(style='text-align: center;')
        button(style='\
        border: none;\
        background-color: #3598dc;\
        color: white;\
        padding: 10px 20px;\
        font-size: 1rem;\
        border-radius: 5px;\
        ')
          p= `${password}`
      p
        | If you did not forgot your password you can safely ignore this email.
    div(style='text-align: center; padding: 20px 0; display: block;')
      p(style='margin: 0;')
        | Dingtoi Company Inc
      p(style='margin-top: 20px;') Powered by Dingtoi.
